@tailwind base;

p {
  @apply m-6;
}

body {
  min-width: 375px;
}

.tooltip .tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 100;
}
.tooltip:hover .tooltip-text {
  visibility: visible;
}

.max-h-90-vh {
  max-height: 90vh;
}

@tailwind components;

@tailwind utilities;
